/* general */
html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height:100%;
  background: url('https://unsplash.imgix.net/21/shaggy.JPG?q=75&fm=jpg&s=2cce7b62caf40ee63ed9e86c1600f12e') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main_wrapper {
  margin: 10%;

  background-color: rgba(255,255,255,0.7);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  display: block;
  max-height: 500px;
  height: 100%;
  text-overflow: ellipsis;
  text-align: center;
}

.main_wrapper a {
  text-decoration: none;
  color: rgb(30,30,30);
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  vertical-align: middle;
}

/* header */
#header-wrap {
  background-color: rgb(32,30,35);
  width: 100%;
  padding: 15px;
}

  #header {
    height: 50px;
    width: 100%;
    max-width: 800px;
    margin: auto;
  }

  #logo {
    height: 120%;
    background-image: url('logorino.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 200px;
    /*margin-top: 3px;*/
    margin-left: -20px;
  }

#room-display {
  float:right;
  line-height: 50px;
  color: #EEE;
  font-size: 18px;
}

#room-id {
  color: #f85959;
  font-weight: bold;
}

/* main page (create new room, join) */
.create {
  height: 50%;
  width: 80%;
  margin: 10%;
}
.join {
  height: 50%;
  width: 80%;
  margin: 10%;
}

/* client and server */
#main-view {
  max-width: 800px;
  margin: auto;
}

h1 {
  padding-left: 5px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
  font-weight: normal;
  font-size: 1.6em;
  color: rgb(30,30,30);
}
.currentname {
  font-weight: 300;
  font-size: 15px;
  -webkit-font-smoothing: subpixel-antialiased;
}

#song_search {
  width: 100%;
  padding: 15px;
  box-shadow: none !important;
  border: none !important;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
  #song_search:focus {
    outline: none;
  }
.drop_thumbnail {
  height: 100%;
  margin-right: 10px;
  float:left;
}
.drop_name {
  line-height: 20px;
  height: 40px;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
.ui-menu .ui-menu-item a {
    height: auto;
}

.ui-menu .ui-menu-item {
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}


.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus {
  background: #EEEEEE;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

/* progress bar */
#progress {
  width:100%;
  height: 4px;
}
#progress .done {
  position: absolute;
  background-color: #A00;
  height: 4px;
  z-index: 100;
}
#progress .background {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #777;
}

.control {
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  line-height: 1.5em;
}
  .control_elem {
    background: none;
    border: none;
    font-size: 1.5em;
    display: inline-block;
    color: rgba(0,0,0,0.75);
  }
    .control_elem:hover {
      color: rgba(0,0,0,1);;
    }
.show_player {
  padding: 10px;
  float: right;
  line-height: 1.5em;
  height: 1.5em;/*100%;*/
  vertical-align: middle;
}
.show_player label {
  font-weight: normal !important;
}

.youtube_player {
  padding: 15px;
  width: 100%;
  font-size: 0px;
}

.item {
  margin-top:5px;
  width: 100%;
  padding: 15px;
  background-color: rgba(255,255,255,0.7);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  display: block;
  height: 100px;
  text-overflow: ellipsis;
}
  .song_thumbnail {
    display: block;
    height: 70px;
    width: 15%;
    max-width: 15%;
    float: left;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .deets {
    width: 65%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    line-height: 35px;
    height: 70px;
  }
  .song_name {
    font-size: 1.5em;
    margin-left: 10px;
    -webkit-font-smoothing: antialiased;
  }
  #voting {
    width: 10%;
    float: left;
    font-size: 2em;
  }

  .votecount {
    width: 10%;
    height: 100%;
    line-height: 70px;
    float: right;
    padding: auto;
    font-size: 2em;
  }

  .upvotes_green {
    color: rgb(25,150,10);
  }
  .upvotes_red {
    color: rgb(190,10,10);
}


