<div id="wrapper" ng-controller="clientCtrl">	
	<div id="header-wrap">
		<div id="header">
			<div id="logo"></div>
			<span id="room-display">
				Party: <span id="room-id">{{roomId}}</span>
			</span>
		</div>
	</div>

	<div id="main-view" class="container-fluid">
		<div class="row">
			<h1>Currently Playing: 
				<span class="currentname">{{currentTrack.name}}</span>
			</h1>
		</div>

		<div class="row">
			<div class="col-md-12">
				<input type="text" search-song-autocomplete id="song_search" placeholder="Add track..." />
			</div>
		</div>

		<br>

		<br>

		<div class="row">
			<div class="item col-md-10" ng-repeat="item in queue | orderBy: queueSorter | limitTo: 4" id="{{item.id}}">
				<div class="song_thumbnail" ng-style="{'background-image': 'url(' + item.thumbnail + ')'}"></div>
				<span class="deets">
					<div class="song_name">{{item.name}}</div>
				</span>

				<div id="voting">
					<span class="glyphicon glyphicon-thumbs-up updownbutton" ng-click="upvote(item.id)" ng-show="alreadyVoted(item.id)"></span>
					<br>
					<span class="glyphicon glyphicon-thumbs-down updownbutton" ng-click="downvote(item.id)" ng-show="alreadyVoted(item.id)"></span>
				</div>
				<span class="votecount" ng-class="{'upvotes_green': item.upvotes > item.downvotes, 'upvotes_red': item.upvotes < item.downvotes}">
						{{item.upvotes - item.downvotes}}
				</span>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>
</div>