<div id="wrapper" class="container-fluid" ng-controller="serverCtrl">	
	<div class="row">
		<div class="col-md-12">
			<div id="header-wrap">
				<div id="header">
					<div id="logo"></div>
					<span id="room-display">
						Party: <span id="room-id">{{roomId}}</span>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div id="progress">
				<div class="done" style="width:{{(currentTime*100)/duration}}%"> </div>
				<div class="background"> </div>
			</div>
		</div>
	</div>

	<div id="main-view">
		<div class="row">
			<div id="player_dummy"></div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h1>Currently Playing: 
					<span class="currentname">{{currentTrack.name}}</span>
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<input type="text" search-song-autocomplete id="song_search" placeholder="Add track..." />
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="show_player">
					<label><input type="checkbox" ng-model="showPlayer" /> show player</label>
				</div>
				<div class="control">
					<button class="control_elem" ng-show="isPlaying" ng-click="pauseClicked()"><i class="fa fa-pause"></i></button>
					<button class="control_elem" ng-hide="isPlaying" ng-click="playClicked()"><i class="fa fa-play"></i></button>
					<button class="control_elem" ng-click="nextClicked()"><i class="fa fa-forward"></i></button>
				</div>
			</div>
		</div>

		<div class="row" ng-show="showPlayer">
			<div class="col-md-12">
				<youtube-video class="youtube_player" player-vars="youtubePlayerVars" video-id="youtubeVideoId" player="youtubePlayer" player-width="'100%'"></youtube-video>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="item col-md-10" ng-repeat="item in queue | orderBy: queueSorter | limitTo: 4" id="{{item.id}}">
				<div class="song_thumbnail" ng-style="{'background-image': 'url(' + item.thumbnail + ')'}"></div>
				<span class="deets">
					<div class="song_name">{{item.name}}</div>
				</span>
				<span class="votecount" ng-class="{'upvotes_green': item.upvotes > item.downvotes, 'upvotes_red': item.upvotes < item.downvotes}">
						{{item.upvotes - item.downvotes}}
				</span>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>
</div>